---
const { color, sleep } = Astro.props

function doSleep(ms: number) {
  return new Promise(resolve => setTimeout(resolve, ms));
}

if (sleep) {
  await doSleep(sleep)
}

// if (color === "blue") {
//   return Astro.redirect("404")
// }

// if (color === "purple") {
//   throw new Error('Did you mean `rebeccapurple`?')
// }

---
<div style={`background-color: ${color};`}>
  ...
</div>

<style>
  div {
    font-size: 30px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
</style>
